@import url('https://fonts.googleapis.com/css?family=Marcellus');

body {
  font-family: 'Marcellus', cursive;
  background-image: url("./Images/dragon.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 532px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body{
  background-color: black;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
